.container-login {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 85vh;
  grid-template-areas: "header" "main";

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #0dc3c3;
}

.container-login header {
  grid-area: header;
}

.container-login main {
  grid-area: main;

  display: flex;
  align-items: center;
  justify-content: center;
}
